<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css"/>
  </head>
  <body>
    <h1>Login</h1>
    <form id="login-form">
      <input type="text" id="username" name="username" placeholder="Username" />
      <br />
      <input type="password" id="password" name="password" placeholder="Password" />
      <br />
      <button type="submit" id="submit-btn">Login</button>
    </form>
    <div id="flag" style="display: none">
      <h2>Flag</h2>
      <p id="flag-text"></p>
    </div>
    <script src="../static/script.js"></script>
  </body>
</html>
